<h1>Listings Around the World</h1>

<%= link_to "Create New Listing", new_listing_path %>

<table>
<% @listings.each do |listing| %>
	<tr>
		<td><%= link_to listing.title, listing %></td>
	</tr>
<% end %>
<%= paginate @listings %>
</table>



